@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Markazi+Text&family=Poppins:ital,wght@0,300;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

:root {
  --mainColor: rgb(46, 44, 44);
  --secondColor: orange;
}
* {
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(the-final-countdown.jpg);
  background-size: cover;
  background-repeat: repeat-y;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--secondColor);
  font-size: 50px;
  text-align: center;
}

.countdown_text {
  color: var(--secondColor);
  font-size: 40px;
  text-transform: lowercase;
  margin: 10px;
  margin-top: 50px;
  border: 5px;
  border-color: brown;
  border-style: double;
  width: 210px;
  height: 210px;
  background-color: var(--mainColor);
}

.countdown_text p {
  font-size: 80px;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

span {
  display: flex;
  margin: 30px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#input_date {
  font-size: 30px;
  background-color: var(--mainColor);
  color: var(--secondColor);
  cursor: pointer;
}

#input_date:hover {
  background-color: var(--secondColor);
  color: var(--mainColor);
  cursor: pointer;
}

#save_date {
  margin-top: 15px;
  background-color: var(--mainColor);
  color: var(--secondColor);
  cursor: pointer;
}

#save_date:hover {
  background-color: var(--secondColor);
  color: var(--mainColor);
  cursor: pointer;
}

::-webkit-calendar-picker-indicator:hover {
  transform: scale(1.22);
  cursor: pointer;
}
